.App {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .add-teacher-to-course form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .add-teacher-to-course  label,
  .add-teacher-to-course input,
  .add-teacher-to-course select {
    display: block;
    width: 100%;
  }
  
  .add-teacher-to-course label {
    margin-bottom: 5px;
    height: 22px;
  }
  
  .add-teacher-to-course input ,
  .add-teacher-to-course select{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  .add-teacher-to-course input.error {
    border-color: red;
  }
  
  .add-teacher-to-course .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .add-teacher-to-course button {
   
      padding: 10px 15px;
      background-color: rgb(255 165 0);
      color: white;
      border: 1px solid rgb(255 165 0);
      transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  
  }
  
  .add-teacher-to-course button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  }
  .course-details-bold p{
    font-weight: bold;
    color: blue;
  }