.MuiTablePagination-root.css-rtrcn9-MuiTablePagination-root {
    direction: ltr;
}
body {
    max-height: 100vh;
  /*  overflow-y: hidden;*/
  }
  .print-tbl{
      display: none;
  }
  @media print{
    .print-tbl{
        display: block;
    }
  }